
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    // Products can be read by any authenticated user, but only written by admins.
    match /products/{productId} {
      allow read: if request.auth != null;
      allow create, update, delete: if request.auth != null && get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == 'admin';
    }

    // Users can read/write their own data. Admins can read all user data.
    match /users/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
      allow read: if request.auth != null && get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == 'admin';
    }

    // Authenticated users can create orders and commissions.
    match /orders/{orderId} {
      allow create: if request.auth != null;
      // Allow user to view their own orders, and admins to view all.
      allow read: if request.auth != null && (resource.data.customer.email == request.auth.token.email || get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == 'admin');
    }

    match /commissions/{commissionId} {
        allow create: if request.auth != null;
        // Allow resellers to view their own commissions, and admins to view all.
        allow read: if request.auth != null && (resource.data.resellerId == request.auth.uid || get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == 'admin');
    }
  }
}
